*{
	margin: 0;
	padding: 0;
	border: 0;
}
.menu{
	width: 200px;
	margin: 100px auto;
	border: 1px solid #ccc;
	border-radius: 5px;

}
.button{
	width: 130px;
	margin: 10px auto;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	background-image: -webkit-linear-gradient(#eee, #fff);
	background-repeat: repeat-x;
	white-space: nowrap;
	font-weight: bold;
	color: #333;
	text-align: center;
}
.button:hover{
	text-decoration: none;
	background-color: #dddddd;
	background-image: -moz-linear-gradient(#eee, #ddd);
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	background-repeat: repeat-x;
	border-color: #ccc;
}
.content{
	width: 300px;
	height: 1000px;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
	display: none;
}
.block{
	position: absolute;
	height: 8px;
	margin: 1px 0;
	background: blue;
	-webkit-transition: all .1s;
}
.block:hover{
	background: red;
}
p{
	width: 300px;
	margin: 0 auto;
}
